:root {
  --tl-color:   #120e12;
  --cs-color:   #252226;
  --bg-color:   #2d2b2e;
  --nav-color:  #353236;
  --hl-color:   #3d3b3e;
  --hv-color:   #454246;
  --ico-color:  #c3c3c3;
  --txt-color:  #f2f2f2;
  --hvtxt-color:#fff;
  --btn-rad:      max(0.5vh,3px);
  --con-rad:      calc(2.5 * var(--btn-rad));
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background-color: var(--bg-color);
  color: var(--txt-color);
}

body {
  --body-margin: 8px;
  height: calc(100vh - 2 * var(--body-margin));
  margin: var(--body-margin);
  display: flex;
  flex-direction: column;
  min-height: 270px;
  min-width: 480px;
}

#main_content {
  flex:1;
  width: 100%;
}

.content-section {
  background-color: var(--cs-color);
  border-radius: var(--con-rad);
  display: flex;
  flex: 1;
}

.columns {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.columns>* {
  flex:1;
  margin: 5px 0 5px 5px;
}
.columns>.rows {
  margin: 0 0 0 5px;
}
.columns>*:last-child {
  margin: 5px;
}
.columns>.rows:last-child {
  margin: 0 5px 0 5px;
}

.rows {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rows>* {
  flex:1;
  margin: 5px 5px 0 5px;
}
.rows>*:last-child {
  margin: 5px;
}
.rows>.columns {
  margin: 5px 0 0 0;
}
.rows>.columns:last-child {
  margin: 5px 0 5px 0;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  border-bottom: solid var(--hv-color) 0.2vh;
  margin-bottom: 0.3vh;
  font-size: max(1.8vh,14px);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  background-color: var(--nav-color);
  transition-property: background-color color;
  transition: 200ms linear;
  border-top-left-radius: var(--btn-rad);
  border-top-right-radius: var(--btn-rad);
  border: solid var(--hl-color);
  margin: 0 0.2vw;
  border-width: 1px 1px 0 1px;
  text-align: center;
  padding: 0.8vh 1.4vh;
  text-decoration: none;
  cursor: pointer;
}
.topnav a img {
  width: 1.35em;
  height: 1.35em;
  filter: drop-shadow(0 0 1px black);
}

.topnav a#nav-settings {
  float: right;
  position: relative;
}
.topnav a#nav-settings img {
  filter: invert(1);
  transition: transform 0.5s ease-in-out;
}
.topnav a#nav-settings:hover img {
  transform: rotate(-90deg);
}
.topnav a#nav-settings.active img {
  
  transform: rotate(270deg);
}

/* Change the color of links on hover */
.topnav a:hover, .icon:hover {
  background-color: var(--hv-color);
  color: var(--hvtxt-color);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--hl-color);
}

#timeline {
  flex: 0 0 8vh;
  background-color: var(--tl-color);
}

#timeline::before{
  content: '';
  position: relative;
  left: 50%;
  top: 50%;
  height: calc(100% + 2px);
  width: 0.5vh;
  background-color: var(--bg-color);
  transform: translate(-50%, -50%);
}

form *,.form * {
  font-size: calc(1vw + 1vh + 10px);
  height: calc(1vw + 1vh + 0.5em + 10px);
  background-color: var(--bg-color);
  color: var(--txt-color);
  outline: none;
  border: none;
  border-radius: 1em;
  padding: 0 0.5em 0 0.5em;
}

select option {
  color: var(--txt-color);
  font-size: 0.8em;
}

input[type="submit"],.form>button {
  flex: 0 1 !important;
  color: var(--txt-color);
}

input[type="text"] {
  flex: 1 !important;
  color: var(--txt-color);
}

.icon, .icorange {
  border: 1px solid var(--hl-color);
  flex: 0 0 calc(1vw + 1vh + 10px);
  height: calc(1vw + 1vh + 10px);
  padding: 0.5em;
  border-radius: 1em;
  filter: brightness(0.9);
  cursor: pointer;
}
.icorange {
  flex: 1;
  max-width: max(500px, 30vw);
}
.icorange>* {
  height: calc(1vw + 1vh + 10px - 1em);
  margin-top: 0;
  margin-bottom: 0;
}
.icorange>img {
  flex: 0 0 calc(1vw + 1vh + 10px);
  height: 100%;
}


input[type="range"] {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: calc(0.35vw + 0.35vh + 3.5px); /* Specified height */
  border-radius: calc((0.35vw + 0.35vh + 3.5px) * 0.5);
  background: var(--hv-color);
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  filter: brightness(1.111);
  position: relative;
  top: 50%;
  transform: translate(0,calc(-50% - 5px));
}
input[type="range"]:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: calc(0.65vw + 0.65vh + 6.5px); /* Set a specific slider handle width */
  height: calc(0.65vw + 0.65vh + 6.5px); /* Slider handle height */
  border-radius: calc((0.65vw + 0.65vh + 6.5px) * 0.5);
  background: var(--ico-color); 
  cursor: pointer; /* Cursor on hover */
}